*.asv
*.log
*.aux
*.zip
*pycache*
*.jpg
*.csv
*ROS/build**
*ROS/devel**
*ROS/.catkin_tools/*
*ROS/log**
*ROS/install*
ORB_SLAM/ROS_SLAM/build**
ORB_SLAM/ROS_SLAM/devel**
ORB_SLAM/ROS_SLAM/.catkin_tools/*
ORB_SLAM/ROS_SLAM/log**
ORB_SLAM/ROS_SLAM/install*
*/frames.pdf
*/frames.gv
*.vscode*

*.pdf
*.ppt*
*/html/*
*.fdb_*
*.fls
*.gz
*.bbl
*.bcf
*.blg
*.run.xml

# Windows currently-open temp files
*~$*.*

