<launch>
    <!-- Bring in global hardware parameters -->
    <rosparam command="load" file="$(find system_globals)/params/frames.yaml" />
    <rosparam command="load" file="$(find system_globals)/params/hardware_constants.yaml" />
    <rosparam command="load" file="$(find topic_messages)/params/topics.yaml" />

    <!-- Needed for seeker_saturate.py and max servo rate -->
    <rosparam command="load" file="$(find system_globals)/params/servos.yaml" />

    <!-- Controls the seeker angles -->
    <node
        pkg="manual_control"
        name="manual_seeker_control_node"
        type="manual_seeker_control_node.py"
        output="screen"
    />
</launch>