<launch>
    <!-- Bring in global hardware parameters -->
    <rosparam command="load" file="$(find system_globals)/params/frames.yaml" />
    <rosparam command="load" file="$(find topic_messages)/params/topics.yaml" />

    <!-- This node interprets the game controller commands into a walk twist -->
    <node
        pkg="manual_control"
        name="manual_walk_twist_control_node"
        type="manual_walk_twist_control_node.py"
        output="screen"
    />
</launch>