<launch>
    <!-- Bring in global hardware parameters -->
    <rosparam command="load" file="$(find system_globals)/params/hardware_constants.yaml" />
    <rosparam command="load" file="$(find topic_messages)/params/topics.yaml" />

    <!-- Use Python tool to determine if we are running on hardware or not -->
    <param name="IS_WANDA" command="$(find hardware_control)/scripts/is_wanda_init.py" />

    <!-- Monitor CPU temperatures to make sure we don't stress the hardware too hard -->
    <node
        pkg="hardware_control"
        name="cpu_temperature_node"
        type="cpu_temperature_node.py"
        respawn="true"
        respawn_delay="1"
        output="screen"
    />
</launch>
