<launch>
    <!-- Bring in global hardware parameters -->
    <rosparam command="load" file="$(find system_globals)/params/frames.yaml" />
    <rosparam command="load" file="$(find system_globals)/params/hardware_constants.yaml" />
    <rosparam command="load" file="$(find topic_messages)/params/topics.yaml" />

    <!-- Kick off fwd kinematics nodes for TF2 analysis -->
    <node
        pkg="fkine_calcs"
        name="legs_fkine_frames_node"
        type="legs_fkine_frames_node.py"
        output="screen"
    />
</launch>