<launch>
    <!-- Allow users to choose the initial state of the sensor -->
    <arg name="init_state" default="false" />

    <!-- Kick off the controller to regulate when we activate the seeker -->
    <include file="$(find range_sensor_control)/launch/range_sensor_control.launch" >
        <arg name="init_state" value="$(arg init_state)" />
    </include>

    <!-- Convert range measurements into a 3D point cloud -->
    <include file="$(find range_sensor_control)/launch/range_point_cloud.launch" />

    <!-- Filter the range measurements by integrating them -->
    <include file="$(find range_sensor_control)/launch/range_filter.launch" />
</launch>